<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<overlay class="main-page"></overlay>
		<overlay class="start-main-page"></overlay>
		<div id="Pg">
			<div class="section">
				<div id="contentMainContainer">
					<p class="main-page title">Sammarnmitr League of Legends</p>
					<p class="main-page sub-title">Competition</p>
					<p class="main-page content">This is descriptions...</p>
				</div>
				<div id="btnMainContainer">
					<button id="registerBtn" go="registerForm">Register</button>
					<button id="moreInfoBtn">More Info</button>
				</div>
			</div>
			<div class="section">
			</div>
		</div>
		<div id="registerForm" class="pop-up">
			<overlay></overlay>
			<div class="pop-up-content" style="width: 60%; height: 60%;">
				<close></close>
				<button id="backBtn">Back</button>
				<button id="nextBtn">Next</button>
				<div id="loginBtnContainer">
					<div id="progress"><div></div></div>
				</div>
				<p class="title" style="margin-top: 0.5em;">Register</p>
				<form action="/" method="post">
					<div class="page" role="team">
						<p class="sub-title">Team Information</p>
						<div class="field-wrap">
							<label>
								Team Name
							</label>
							<input type="text" required autocomplete="off" role="teamname" />
						</div>
						<div class="field-wrap">
							<label>
								Simple Team Name
							</label>
							<input type="text" required autocomplete="off" role="steamname" style="text-transform: uppercase;" />
						</div>
					</div>
					<div class="page" role="player1">
						<p class="sub-title">Player 1 Information (Leader)</p>
						<div class="field two">
							<div class="field-wrap">
								<label>
									First Name
								</label>
								<input type="text" required autocomplete="off" role="fname" />
							</div>
							<div class="field-wrap">
								<label>
									Last Name
								</label>
								<input type="text" required autocomplete="off" role="lname" />
							</div>
						</div>
						<div class="field-wrap">
							<label>
								Summoner Name
							</label>
							<input type="text" required autocomplete="off" role="sumname" />
						</div>
						<div class="field-wrap">
							<label>
								Telephone Number
							</label>
							<input type="text" required autocomplete="off" role="telnum" />
						</div>
						<div class="field two">
							<div class="field-wrap">
								<label>
									Facebook
								</label>
								<input type="text" required autocomplete="off" role="fb" />
							</div>
							<div class="field-wrap">
								<label>
									SK
								</label>
								<input type="text" required autocomplete="off" role="no" />
							</div>
						</div>
					</div>
					<div class="page" role="player2">
						<p class="sub-title">Player 2 Information</p>
						<div class="field two">
							<div class="field-wrap">
								<label>
									First Name
								</label>
								<input type="text" required autocomplete="off" role="fname" />
							</div>
							<div class="field-wrap">
								<label>
									Last Name
								</label>
								<input type="text" required autocomplete="off" role="lname" />
							</div>
						</div>
						<div class="field-wrap">
							<label>
								Summoner Name
							</label>
							<input type="text" required autocomplete="off" role="sumname" />
						</div>
						<div class="field-wrap">
							<label>
								Telephone Number
							</label>
							<input type="text" required autocomplete="off" role="telnum" />
						</div>
						<div class="field two">
							<div class="field-wrap">
								<label>
									Facebook
								</label>
								<input type="text" required autocomplete="off" role="fb" />
							</div>
							<div class="field-wrap">
								<label>
									SK
								</label>
								<input type="text" required autocomplete="off" role="no" />
							</div>
						</div>
					</div>
					<div class="page" role="player3">
						<p class="sub-title">Player 3 Information</p>
						<div class="field two">
							<div class="field-wrap">
								<label>
									First Name
								</label>
								<input type="text" required autocomplete="off" role="fname" />
							</div>
							<div class="field-wrap">
								<label>
									Last Name
								</label>
								<input type="text" required autocomplete="off" role="lname" />
							</div>
						</div>
						<div class="field-wrap">
							<label>
								Summoner Name
							</label>
							<input type="text" required autocomplete="off" role="sumname" />
						</div>
						<div class="field-wrap">
							<label>
								Telephone Number
							</label>
							<input type="text" required autocomplete="off" role="telnum" />
						</div>
						<div class="field two">
							<div class="field-wrap">
								<label>
									Facebook
								</label>
								<input type="text" required autocomplete="off" role="fb" />
							</div>
							<div class="field-wrap">
								<label>
									SK
								</label>
								<input type="text" required autocomplete="off" role="no" />
							</div>
						</div>
					</div>
					<div class="page" role="player4">
						<p class="sub-title">Player 4 Information</p>
						<div class="field two">
							<div class="field-wrap">
								<label>
									First Name
								</label>
								<input type="text" required autocomplete="off" role="fname" />
							</div>
							<div class="field-wrap">
								<label>
									Last Name
								</label>
								<input type="text" required autocomplete="off" role="lname" />
							</div>
						</div>
						<div class="field-wrap">
							<label>
								Summoner Name
							</label>
							<input type="text" required autocomplete="off" role="sumname" />
						</div>
						<div class="field-wrap">
							<label>
								Telephone Number
							</label>
							<input type="text" required autocomplete="off" role="telnum" />
						</div>
						<div class="field two">
							<div class="field-wrap">
								<label>
									Facebook
								</label>
								<input type="text" required autocomplete="off" role="fb" />
							</div>
							<div class="field-wrap">
								<label>
									SK
								</label>
								<input type="text" required autocomplete="off" role="no" />
							</div>
						</div>
					</div>
					<div class="page" role="player5">
						<p class="sub-title">Player 5 Information</p>
						<div class="field two">
							<div class="field-wrap">
								<label>
									First Name
								</label>
								<input type="text" required autocomplete="off" role="fname" />
							</div>
							<div class="field-wrap">
								<label>
									Last Name
								</label>
								<input type="text" required autocomplete="off" role="lname" />
							</div>
						</div>
						<div class="field-wrap">
							<label>
								Summoner Name
							</label>
							<input type="text" required autocomplete="off" role="sumname" />
						</div>
						<div class="field-wrap">
							<label>
								Telephone Number
							</label>
							<input type="text" required autocomplete="off" role="telnum" />
						</div>
						<div class="field two">
							<div class="field-wrap">
								<label>
									Facebook
								</label>
								<input type="text" required autocomplete="off" role="fb" />
							</div>
							<div class="field-wrap">
								<label>
									SK
								</label>
								<input type="text" required autocomplete="off" role="no" />
							</div>
						</div>
					</div>
					<div class="page" role="player6">
						<p class="sub-title">Player 6 Information (Optional)</p>
						<div class="field two">
							<div class="field-wrap">
								<label>
									First Name
								</label>
								<input type="text" autocomplete="off" role="fname" />
							</div>
							<div class="field-wrap">
								<label>
									Last Name
								</label>
								<input type="text" autocomplete="off" role="lname" />
							</div>
						</div>
						<div class="field-wrap">
							<label>
								Summoner Name
							</label>
							<input type="text" autocomplete="off" role="sumname" />
						</div>
						<div class="field-wrap">
							<label>
								Telephone Number
							</label>
							<input type="text" autocomplete="off" role="telnum" />
						</div>
						<div class="field two">
							<div class="field-wrap">
								<label>
									Facebook
								</label>
								<input type="text" autocomplete="off" role="fb" />
							</div>
							<div class="field-wrap">
								<label>
									SK
								</label>
								<input type="text" autocomplete="off" role="no" />
							</div>
						</div>
					</div>
					<div id="page-final" role="rule">
						<p class="sub-title">Rules</p>
						<div class="tof">
							<p class="content">
								This is Rules ...
							</p>
						</div>
						<div id="ruleAccContainer">
							<p><input type="checkbox" required id="accept" />
							<label class="content">I accept.</label>
						</p>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div id="requiredCaution" class="caution">Please fill this information</div>
	<script type="text/javascript" src="jquery-3.1.0.js"></script>
	<script type="text/javascript" src="script.js"></script>
	<script type="text/javascript" src="sc.js"></script>
	<script type="text/javascript" src="collector.js"></script>
</body>
</html>