<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet"type="text/css"href="style.css">
	</head>
	<body>
		<overlay class="second-page right"></overlay>
		<div class="menu-bar">
			<div class="menu left">
				<div><p class="content">Details</p></div>
				<div><p class="content">Details</p></div>
			</div>
			<p class="title">Submit to Comp. Comp. Comp.</p>
			<div class="menu right">
				<div><p class="content">Details</p></div>
				<div><p class="content">Details</p></div>
			</div>
		</div>
		<div id="contentContainer">
			<div class="content-page" id="page1">
				<p class="content">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
			</div>
			<div class="content-page" id="page2"></div>
			<div class="content-page" id="page3"></div>
			<div class="content-page" id="page4"></div>
		</div>
		<script type="text/javascript"src="jquery-3.1.0.js"></script>
	</body>
</html>