<!DOCTYPE html>
<html lang="en">
<!-- NOTE: Please remove all comment before release. -->
<!-- NOTE: Please minify every css and js files before release. -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon will go here. -->
    <title>SKLOL</title>

    <link href='https://fonts.googleapis.com/css?family=Prompt:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic|Maitree:400,200,300,500,600,700&subset=thai,latin' rel='stylesheet'
        type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel='stylesheet' type='text/css'>
    <link href="css/parallax.css" rel='stylesheet' type='text/css'>
    <script src="js/bootstrap.min.js"></script>
</head>

<body>
    <section class="background" id="intro">
        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col col-md-6">
                        <h1 class="title">Samarnmitr <span class="lol">League of Legend</span> Competition</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="intro">
                            &emsp;&emsp;มาร่วมกันแข่งขันเพื่อเฟ้นหาทีมสายเลือดชมพู-ฟ้า ผู้เป็นที่หนึ่งในเกม
                            <span class="lol">League of Legend</span> ที่กำลังได้รับความนิยมอยู่ใน ปัจจุบัน ภายใต้การสนับสนุนของ Garena ค่ายเกมออนไลน์ยักษ์ใหญ่ของประเทศไทย เพื่อชิงเงินรางวัลมูลค่ารวมกว่า 6,000 บาท โดยสมัครเข้าร่วมการแข่งขันครั้งนี้ได้ฟรี!
                            ถ้าหากว่าคุณพร้อมที่จะเข้ามkฟาดฟันในสมรภูมิแห่งเกม <span class="lol">League
                     of Legend</span> แล้วละก็รีบสมัครเข้ามาร่วมการแข่งขันครั้งนี้ได้เลย !!!
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="btn-container col-md-6">
                        <div class="col-md-6 center">
                            <!-- Need to link with register ajax. -->
                            <button id="register" class="lol-button register mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Register</button>
                        </div>
                        <div class="col-md-6 center">
                            <a href="#description">
                                <!-- Need to make it smooth scroll down when clicked. -->
                                <button id="moreInfo" class="lol-button more-info mdl-button mdl-js-button mdl-js-ripple-effect">More Info</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="sponsor left">Sponsored by
                        <img src="../../../public/img/sponsor1.png" alt="Garena">
                        <img src="../../../public/img/sponsor2.png" alt="Suabkularb Wittayalai School">
                        <img src="../../../public/img/sponsor3.png" alt="SK Com Club">
                        <img src="img/sponsor4.png" alt="Samarnmitr">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="background" id="description">
        <div class="content-wrapper">
            <div class="container-fluid">
                <!-- Navigation bar will go here! -->
                <div class="row">
                    <div class="col-md-6 right">
                        <p class="description">
                            &emsp;&emsp;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt quisquam pariatur odio aliquid quas ab quasi iure, provident doloremque odit velit voluptatem qui adipisci delectus optio eligendi, magnam eos voluptas? Quam, est! Tenetur
                            rerum, labore ipsa velit, cum natus fuga aperiam expedita eaque repudiandae magnam nobis, cumque ducimus laboriosam, sapiente sequi enim soluta impedit officia ipsam tempora. Similique, ullam, temporibus? Aperiam qui, quis
                            assumenda tenetur. Neque soluta vitae earum explicabo amet dolores suscipit culpa omnis voluptates, nam recusandae, sunt aliquid at fugiat expedita! Laboriosam, doloribus praesentium repudiandae asperiores cupiditate consequatur?
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="sponsor right">Sponsored by
                        <img src="../../../public/img/sponsor1.png" alt="Garena">
                        <img src="../../../public/img/sponsor2.png" alt="Suabkularb Wittayalai School">
                        <img src="../../../public/img/sponsor3.png" alt="SK Com Club">
                        <img src="img/sponsor4.png" alt="Samarnmitr">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="background" id="schedule">
        <div class="content-wrapper">
            <div class="container-fluid">
                <!-- Navigation bar will go here! -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="schedule text-center">
                            <h2 class="subtitle">กำหนดการกิจกรรม</h2>
                            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                                <thead>
                                    <tr>
                                        <th class="text-center">วันที่</th>
                                        <th class="text-center">กิจกรรม</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>วันที่ 32 สิงหายน -2559</td>
                                        <td>กิจกรรมที่ 1</td>
                                    </tr>
                                    <tr>
                                        <td>วันที่ 33 สิงหายน -2559</td>
                                        <td>กิจกรรมที่ 2</td>
                                    </tr>
                                    <tr>
                                        <td>วันที่ 34 สิงหายน -2559</td>
                                        <td>กิจกรรมที่ 3</td>
                                    </tr>
                                    <tr>
                                        <td>วันที่ 34 สิงหายน -2559</td>
                                        <td>กิจกรรมที่ 4</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="sponsor left">Sponsored by
                        <img src="../../../public/img/sponsor1.png" alt="Garena">
                        <img src="../../../public/img/sponsor2.png" alt="Suabkularb Wittayalai School">
                        <img src="../../../public/img/sponsor3.png" alt="SK Com Club">
                        <img src="img/sponsor4.png" alt="Samarnmitr">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="background" id="faq">
        <div class="content-wrapper">
            <div class="container-fluid">
                <!-- Navigation bar will go here! -->
                <div class="row">
                    <div class="col-md-6 right">
                        <h2 class="subtitle text-center">คำถามที่พบบ่อย</h2>
                        <!-- FAQ Content will go here need bus to support this! -->
                    </div>
                </div>
                <div class="row">
                    <div class="sponsor right">Sponsored by
                        <img src="../../../public/img/sponsor1.png" alt="Garena">
                        <img src="../../../public/img/sponsor2.png" alt="Suabkularb Wittayalai School">
                        <img src="../../../public/img/sponsor3.png" alt="SK Com Club">
                        <img src="img/sponsor4.png" alt="Samarnmitr">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="background" id="fb">
        <div class="content-wrapper">
            <div class="container-fluid">
                <!-- Navigation bar will go here! -->
                <div class="row">
                    <div class="col-md-8">
                        <!-- Need to make this align center. -->
                        <h2 class="title">หากมีข้อสงสัยใด ๆ สามารถติดต่อได้ที่ : </h2>
                        <a class="fb" target="_blank" href="http://fb.com/skcomclub"><img class="fb-logo"
                                                                                          src="../../../public/img/facebook.svg"/>
                            ชุมนุมคอมพิวเตอร์ โรงเรียนสวนกุหลาบวิทยาลัย</a>
                    </div>
                </div>
                <div class="row">
                    <div class="sponsor left">Sponsored by
                        <img src="../../../public/img/sponsor1.png" alt="Garena">
                        <img src="../../../public/img/sponsor2.png" alt="Suabkularb Wittayalai School">
                        <img src="../../../public/img/sponsor3.png" alt="SK Com Club">
                        <img src="img/sponsor4.png" alt="Samarnmitr">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js'></script>
    <script src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
    <script src="js/parallax.js"></script>
    <script src="js/script.js"></script>
</body>

</html>
